.Dolar {
    display: grid;
    width: 100%;
    height: 35em;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: #2f4858;

    .main-banner {
        padding: 2em;
        margin-top: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 6em;
            height: 6em;
            border: 0.05em #f4f9ff solid;
        }
        h1 {
            margin-left: 0.3em;
            font-family: Mont;
            font-size: 5rem;
            color: #f4f9ff;
        }
    }
    .Arrow {
        display: flex;
        align-items: center;
        content: "8644";
        color: #edf1ff;
        font-size: 4rem;
        padding: 0.1em;
    }
    .conversor-container {
        width: 60em;
        margin: 2em;
        display: flex;
        justify-content: center;
        height: 15em;
        font-family: Mont;
        // border: 0.1em red solid;
    }
}

.dollar-scroll-header {
    display: flex;
    width: 100%;
    background: #125c6d;
    align-items: center;
    justify-content: center;
    .dollar-menu {
        height: 5em;
        // width: 90%;
        // border: 0.05em #edf1ff solid;
        display: flex;
        align-items: center;
        li {
            //    margin: auto;
            padding: 0 6em;
            a {
                font-family: Roboto;
                font-size: 1.6rem;
                color: #f4f9ff;

                &:hover {
                    color: #a7092a;
                    padding-bottom: 0.5em;
                    border-bottom: 0.2rem solid #a7092a;
                }
                &:focus {
                    padding-bottom: 0.5em;
                    border-bottom: 0.2rem solid #a7092a;
                }
            }
        }
    }
}

.dolar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #edf1ff;
    // border: 0.2rem solid #a7092a;

    .dolarcomercial-info,
    .dolarturismo-info {
        // border: 0.2rem solid #a7092a;
        display: flex;
        flex-direction: column;
        width: 50%;
        h2 {
            width: 100%;
            font-family: Mont-Medium;
            font-size: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: #125c6d;
            // border: 0.2rem solid #a7092a;
        }
        p {
            padding: 0.3em;
            line-height: 2rem;
            font-family: Roboto;
            font-size: 1.2rem;
            color: #41493a;
            text-align: justify;
        }
        h3 {
            padding: 0.3em;
            font-family: Mont-Medium;
            font-size: 1.3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: #125c6d;
        }
    }
    .dolarcomercial-info {
        h2 {
            margin-top: 3em;
        }
    }

    .Carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 500px;
        flex-direction: column;
        left: 30%;

        .carousel-item {
            
            width: 700px;
            height: 500px;
            border: 10px red solid;

            .carousel-img {
                width: 330px;
                height: 180px;
                position: absolute;
                top: 1em;
                left: 14em;
            }

            .carousel-imgV {
                width: 330px;
                height: 180px;
                position: absolute;
                top: 13em;
                left: 14em;
            }

            .carousel-caption {
                bottom: 0;
                color: black;
                border-bottom: 2px;
                border: 10px coral solid;

                h3 {
                    font-size: 10px;
                    bottom: 10em;
                    font-style: normal;
                }

                p {
                    font-size: 10px;
                    bottom: 15em;
                    left: 14em;
                    font-style: normal;

                }
            }
        }
    }
}
@media (max-width: 800px) {
    .Dolar {
        grid-template-rows: 1fr 1fr 1fr;
        height: 50em;
        justify-content: center;
        align-items: center;
        .main-banner {
            display: flex;
            padding: 0;
            margin: 0;
        }
        .conversor-container {
            width: 50%;
            flex-direction: column;
            margin-top: 1em;
            padding: 0;
            .conversor-origem {
                margin-bottom: 3em;
            }
        }
    }
}
