@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Mont-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-size: 1rem;
  overflow: hidden;
  background: #f4f9ff;
  min-height: 100vh;
}

html {
  overflow: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scroll-to-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: red;
  color: white;
}

.scroll-to-top .icon {
  margin-top: 16px;
  margin-left: 18px;
  -webkit-animation: scrollTop 0.5s alternate ease infinite;
          animation: scrollTop 0.5s alternate ease infinite;
}

@-webkit-keyframes scrollTop {
  from {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes scrollTop {
  from {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
