.Bitcoin {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 33em;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #29313A;
}

.Bitcoin .main-banner {
  padding: 2em;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Bitcoin .main-banner img {
  width: 6em;
  height: 6em;
}

.Bitcoin .main-banner h1 {
  margin-left: 0.3em;
  font-family: Mont;
  font-size: 5rem;
  color: #f4f9ff;
}

.Bitcoin .conversor-container {
  width: 60em;
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15em;
  font-family: Mont;
}

.bitcoin-scroll-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #002868;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bitcoin-scroll-header .bitcoin-menu {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bitcoin-scroll-header .bitcoin-menu li {
  padding: 0 6em;
}

.bitcoin-scroll-header .bitcoin-menu li a {
  font-family: Roboto;
  font-size: 1.6rem;
  color: #f4f9ff;
}

.bitcoin-scroll-header .bitcoin-menu li a:hover {
  color: #a7092a;
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #a7092a;
}

.bitcoin-scroll-header .bitcoin-menu li a:focus {
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #a7092a;
}

.eurocomercial-info {
  height: 30em;
}
