.Dolar {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 35em;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2f4858;
}

.Dolar .main-banner {
  padding: 2em;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Dolar .main-banner img {
  width: 6em;
  height: 6em;
  border: 0.05em #f4f9ff solid;
}

.Dolar .main-banner h1 {
  margin-left: 0.3em;
  font-family: Mont;
  font-size: 5rem;
  color: #f4f9ff;
}

.Dolar .Arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "8644";
  color: #edf1ff;
  font-size: 4rem;
  padding: 0.1em;
}

.Dolar .conversor-container {
  width: 60em;
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15em;
  font-family: Mont;
}

.dollar-scroll-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #125c6d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dollar-scroll-header .dollar-menu {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dollar-scroll-header .dollar-menu li {
  padding: 0 6em;
}

.dollar-scroll-header .dollar-menu li a {
  font-family: Roboto;
  font-size: 1.6rem;
  color: #f4f9ff;
}

.dollar-scroll-header .dollar-menu li a:hover {
  color: #a7092a;
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #a7092a;
}

.dollar-scroll-header .dollar-menu li a:focus {
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #a7092a;
}

.dolar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #edf1ff;
}

.dolar-info .dolarcomercial-info,
.dolar-info .dolarturismo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.dolar-info .dolarcomercial-info h2,
.dolar-info .dolarturismo-info h2 {
  width: 100%;
  font-family: Mont-Medium;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #125c6d;
}

.dolar-info .dolarcomercial-info p,
.dolar-info .dolarturismo-info p {
  padding: 0.3em;
  line-height: 2rem;
  font-family: Roboto;
  font-size: 1.2rem;
  color: #41493a;
  text-align: justify;
}

.dolar-info .dolarcomercial-info h3,
.dolar-info .dolarturismo-info h3 {
  padding: 0.3em;
  font-family: Mont-Medium;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #125c6d;
}

.dolar-info .dolarcomercial-info h2 {
  margin-top: 3em;
}

.dolar-info h2 {
  width: 100%;
  font-family: Mont-Medium;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #125c6d;
  text-align: center;
}

.dolar-info .Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 1000px;
  height: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dolar-info .Carousel .carousel-item {
  width: 900px;
  height: 800px;
}

.dolar-info .Carousel .carousel-item .carousel-img {
  width: 600px;
  height: 280px;
  position: absolute;
  top: 0em;
  left: 10em;
}

.dolar-info .Carousel .carousel-item .carousel-imgV {
  width: 600px;
  height: 280px;
  position: absolute;
  top: 19em;
  left: 10em;
}

.dolar-info .Carousel .carousel-item .carousel-imgM {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0em;
  left: 12em;
}

.dolar-info .Carousel .carousel-item .carousel-imgVM {
  width: 400PX;
  height: 300px;
  position: absolute;
  top: 19em;
  left: 12em;
}

.dolar-info .Carousel .carousel-item .carousel-caption {
  bottom: 0;
  color: black;
  border-bottom: 2px;
}

.dolar-info .Carousel .carousel-item .carousel-caption p {
  font-size: 22px;
  bottom: 10em;
  font-style: normal;
  font-family: Mont-Medium;
}

@media (max-width: 800px) {
  .Dolar {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    height: 50em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Dolar .main-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .Dolar .conversor-container {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1em;
    padding: 0;
  }
  .Dolar .conversor-container .conversor-origem {
    margin-bottom: 3em;
  }
}
