@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Mont-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

.grafico-container {
  display: flex;
  flex-direction: column;
  height: 30em;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #edf1ff;
}

.grafico-container .Grafico {
  background-color: #edf1ff;
  border-radius: 5px;
  height: 100%;
  width: 95%;
  padding: 1rem;
}

.grafico-container .grafico-header {
  display: flex;
  width: 50%;
  margin-top: 2rem;
}

.grafico-container .grafico-header h2 {
  width: 100%;
  font-family: Mont-Medium;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #125c6d;
}
